// COLORS
$black: #000000;
$white: #ffffff;

//RWD
$breakpoints: (
        'xs': (max-width: 575px),
        'sm': (max-width: 767px),
        'md': (max-width: 991px),
        'lg': (max-width: 1199px),
        'xl': (min-width: 1200px),
);